{% if not post %}
<h2>Post not found</h2>
{% else %}
{% block body %}
  <div class="col-xs-12 col-sm-8 row">
         <div class="col-xs-12 col-sm-12">
           <div class="post">
             <div class="post-heading">
               <span>{{ post.title }}</span>
               <img class="img-responsive" src="images/blog/landscape.jpg" alt="post's picture">
             </div>
           <div class="post-body">
               <h3><a href="./posts/single_post.html.twig"><strong>{{post.content}}</strong></a></h3>
               <hr>
               <p>{{asset('images/blog/' ~ post.image) }} 
               </p>
               <p>Author: {{post.author.name}} </p>
             </div>
             <div class="post-footer">
               <a class="btn" href="./posts/single_post.html.twig">READ MORE...</a>
               <p>{{post.publishedAt | date('d') }} {{ post.publishedAt | date('F') }}</p>
             </div>
           </div>
         </div>
{% endblock %}
{% endif %}